*.zip
/__zips
/assets
/lib
/logs
/img
*.log
/barcode
/reports
/fonts
/qrcodes
/test
dbClassMSSQL.php
*.jpg
*.jpeg
*.png
*.pdf
/tex1
/tex2
/tex3
/tex4
/sandbox
/vendor/
.tmp*
.tmp.driveupload/
*.tmp
*.temp
tmp/